:root {
  --md3kl-color-theme-mode: light;
  --md3kl-color-theme-source: #0F75E3;
  --md3kl-color-primary-palette-key-color-rgb: rgb(90, 119, 171);
  --md3kl-color-primary-palette-key-color: 90, 119, 171;
  --md3kl-color-secondary-palette-key-color-rgb: rgb(110, 119, 138);
  --md3kl-color-secondary-palette-key-color: 110, 119, 138;
  --md3kl-color-tertiary-palette-key-color-rgb: rgb(137, 110, 142);
  --md3kl-color-tertiary-palette-key-color: 137, 110, 142;
  --md3kl-color-neutral-palette-key-color-rgb: rgb(118, 119, 125);
  --md3kl-color-neutral-palette-key-color: 118, 119, 125;
  --md3kl-color-neutral-variant-palette-key-color-rgb: rgb(116, 119, 127);
  --md3kl-color-neutral-variant-palette-key-color: 116, 119, 127;
  --md3kl-color-background-rgb: rgb(249, 249, 255);
  --md3kl-color-background: 249, 249, 255;
  --md3kl-color-on-background-rgb: rgb(25, 28, 32);
  --md3kl-color-on-background: 25, 28, 32;
  --md3kl-color-surface-rgb: rgb(249, 249, 255);
  --md3kl-color-surface: 249, 249, 255;
  --md3kl-color-surface-dim-rgb: rgb(217, 217, 224);
  --md3kl-color-surface-dim: 217, 217, 224;
  --md3kl-color-surface-bright-rgb: rgb(249, 249, 255);
  --md3kl-color-surface-bright: 249, 249, 255;
  --md3kl-color-surface-container-lowest-rgb: rgb(255, 255, 255);
  --md3kl-color-surface-container-lowest: 255, 255, 255;
  --md3kl-color-surface-container-low-rgb: rgb(243, 243, 250);
  --md3kl-color-surface-container-low: 243, 243, 250;
  --md3kl-color-surface-container-rgb: rgb(237, 237, 244);
  --md3kl-color-surface-container: 237, 237, 244;
  --md3kl-color-surface-container-high-rgb: rgb(231, 232, 238);
  --md3kl-color-surface-container-high: 231, 232, 238;
  --md3kl-color-surface-container-highest-rgb: rgb(226, 226, 233);
  --md3kl-color-surface-container-highest: 226, 226, 233;
  --md3kl-color-on-surface-rgb: rgb(25, 28, 32);
  --md3kl-color-on-surface: 25, 28, 32;
  --md3kl-color-surface-variant-rgb: rgb(224, 226, 236);
  --md3kl-color-surface-variant: 224, 226, 236;
  --md3kl-color-on-surface-variant-rgb: rgb(68, 71, 78);
  --md3kl-color-on-surface-variant: 68, 71, 78;
  --md3kl-color-inverse-surface-rgb: rgb(46, 48, 54);
  --md3kl-color-inverse-surface: 46, 48, 54;
  --md3kl-color-inverse-on-surface-rgb: rgb(240, 240, 247);
  --md3kl-color-inverse-on-surface: 240, 240, 247;
  --md3kl-color-outline-rgb: rgb(116, 119, 127);
  --md3kl-color-outline: 116, 119, 127;
  --md3kl-color-outline-variant-rgb: rgb(196, 198, 208);
  --md3kl-color-outline-variant: 196, 198, 208;
  --md3kl-color-shadow-rgb: rgb(0, 0, 0);
  --md3kl-color-shadow: 0, 0, 0;
  --md3kl-color-scrim-rgb: rgb(0, 0, 0);
  --md3kl-color-scrim: 0, 0, 0;
  --md3kl-color-surface-tint-rgb: rgb(65, 95, 145);
  --md3kl-color-surface-tint: 65, 95, 145;
  --md3kl-color-primary-rgb: rgb(65, 95, 145);
  --md3kl-color-primary: 65, 95, 145;
  --md3kl-color-on-primary-rgb: rgb(255, 255, 255);
  --md3kl-color-on-primary: 255, 255, 255;
  --md3kl-color-primary-container-rgb: rgb(214, 227, 255);
  --md3kl-color-primary-container: 214, 227, 255;
  --md3kl-color-on-primary-container-rgb: rgb(0, 27, 62);
  --md3kl-color-on-primary-container: 0, 27, 62;
  --md3kl-color-inverse-primary-rgb: rgb(170, 199, 255);
  --md3kl-color-inverse-primary: 170, 199, 255;
  --md3kl-color-secondary-rgb: rgb(86, 95, 113);
  --md3kl-color-secondary: 86, 95, 113;
  --md3kl-color-on-secondary-rgb: rgb(255, 255, 255);
  --md3kl-color-on-secondary: 255, 255, 255;
  --md3kl-color-secondary-container-rgb: rgb(218, 226, 249);
  --md3kl-color-secondary-container: 218, 226, 249;
  --md3kl-color-on-secondary-container-rgb: rgb(19, 28, 43);
  --md3kl-color-on-secondary-container: 19, 28, 43;
  --md3kl-color-tertiary-rgb: rgb(112, 85, 117);
  --md3kl-color-tertiary: 112, 85, 117;
  --md3kl-color-on-tertiary-rgb: rgb(255, 255, 255);
  --md3kl-color-on-tertiary: 255, 255, 255;
  --md3kl-color-tertiary-container-rgb: rgb(249, 216, 253);
  --md3kl-color-tertiary-container: 249, 216, 253;
  --md3kl-color-on-tertiary-container-rgb: rgb(40, 19, 46);
  --md3kl-color-on-tertiary-container: 40, 19, 46;
  --md3kl-color-error-rgb: rgb(186, 26, 26);
  --md3kl-color-error: 186, 26, 26;
  --md3kl-color-on-error-rgb: rgb(255, 255, 255);
  --md3kl-color-on-error: 255, 255, 255;
  --md3kl-color-error-container-rgb: rgb(255, 218, 214);
  --md3kl-color-error-container: 255, 218, 214;
  --md3kl-color-on-error-container-rgb: rgb(65, 0, 2);
  --md3kl-color-on-error-container: 65, 0, 2;
  --md3kl-color-primary-fixed-rgb: rgb(214, 227, 255);
  --md3kl-color-primary-fixed: 214, 227, 255;
  --md3kl-color-primary-fixed-dim-rgb: rgb(170, 199, 255);
  --md3kl-color-primary-fixed-dim: 170, 199, 255;
  --md3kl-color-on-primary-fixed-rgb: rgb(0, 27, 62);
  --md3kl-color-on-primary-fixed: 0, 27, 62;
  --md3kl-color-on-primary-fixed-variant-rgb: rgb(39, 71, 119);
  --md3kl-color-on-primary-fixed-variant: 39, 71, 119;
  --md3kl-color-secondary-fixed-rgb: rgb(218, 226, 249);
  --md3kl-color-secondary-fixed: 218, 226, 249;
  --md3kl-color-secondary-fixed-dim-rgb: rgb(190, 198, 220);
  --md3kl-color-secondary-fixed-dim: 190, 198, 220;
  --md3kl-color-on-secondary-fixed-rgb: rgb(19, 28, 43);
  --md3kl-color-on-secondary-fixed: 19, 28, 43;
  --md3kl-color-on-secondary-fixed-variant-rgb: rgb(62, 71, 89);
  --md3kl-color-on-secondary-fixed-variant: 62, 71, 89;
  --md3kl-color-tertiary-fixed-rgb: rgb(249, 216, 253);
  --md3kl-color-tertiary-fixed: 249, 216, 253;
  --md3kl-color-tertiary-fixed-dim-rgb: rgb(220, 188, 224);
  --md3kl-color-tertiary-fixed-dim: 220, 188, 224;
  --md3kl-color-on-tertiary-fixed-rgb: rgb(40, 19, 46);
  --md3kl-color-on-tertiary-fixed: 40, 19, 46;
  --md3kl-color-on-tertiary-fixed-variant-rgb: rgb(87, 62, 92);
  --md3kl-color-on-tertiary-fixed-variant: 87, 62, 92;
}
