@container-height: 64px;

#mdkl() {
  .button {
    --shape-corner: var(--mdkl-shape-corner-full);
    position: relative;
    display: inline-block;
    //overflow: hidden;
    text-align: center;
    border-radius: var(--shape-corner);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: box-shadow var(--mdkl-motion-duration-short4) var(--mdkl-motion-easing-linear);
    min-width: 3rem;
    height: 2.5rem;
    color: rgb(var(--mdkl-color-primary));
    font-size: var(--mdkl-typescale-label-large-size);
    font-weight: var(--mdkl-typescale-label-large-weight);
    letter-spacing: var(--mdkl-typescale-label-large-tracking);
    line-height: var(--mdkl-typescale-label-large-line-height);
  }


  .button-content {
    display: inline-flex !important;
    padding: 0 0.5rem !important;
    font-size: var(--mdkl-typescale-label-large-size);
    font-weight: var(--mdkl-typescale-label-large-weight);
    letter-spacing: var(--mdkl-typescale-label-large-tracking);
    line-height: var(--mdkl-typescale-label-large-line-height);
  }
}

// 隐藏空元素
#nav-menu > ul > li:nth-child(6) {
  display: none;
}

#nav-menu {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#nav-menu > ul > li {
  #mdkl.button()
}
